<%- include("../partials/header") %>
<div class="container">
    <form class="form-group" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <h1>edit <%= campground.name %></h1>
        <input class="inputField" type="text" name="campground[name]"  value="<%= campground.name %>">
        <input class="inputField" type="text" name="campground[image]" value="<%= campground.image %>">
        <input class="inputField" type="text" name="campground[description]" value="<%= campground.description %>">
        <button class="btn btn-lg btn-primary">submit</button>
    </form>    
</div>
<%- include("../partials/footer") %>